<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>gestion1</display-name>
  <servlet>
    <servlet-name>log</servlet-name>
    <servlet-class>controllers.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log</servlet-name>
    <url-pattern>/gestion1/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>controllers.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/gestion1/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pro</servlet-name>
    <servlet-class>controllers.pro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pro</servlet-name>
    <url-pattern>/gestion1/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addrec</servlet-name>
    <servlet-class>controllers.addrec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addrec</servlet-name>
    <url-pattern>/gestion1/addRec</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>controllers.list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/gestion1/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>controllers.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/gestion1/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>print</servlet-name>
    <servlet-class>controllers.print</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/gestion1/print</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>